{% extends 'base.html' %}
{% block content %}
<h1> {{ title}}</h1>
<ul>
    {% for test in suite_test %}
    {% if test.is_published %}
    <li>
        <h2> {{ test.title}} </h2>
        <p> {{test.content|linebreaks|truncatewords:1}} </p>
        <p><a href="{% url 'data_tests' test.id %}">Test detail</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif%}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% include 'logtests/includes/test_exe_log.html' %}
{% endblock %}
</body>
</html>